---
title: Delivery
---
extends layouts/_layout
block content
	section.delivery
		.layout.layout--delivery
			.delivery__title.title-h2 Доставка и оплата
			.delivery__row
				.delivery__card
					.delivery__card-title Доставка по Киеву
					.delivery__item
						p.delivery__text
							span Доставка
							| &nbsp;в пределах города Киева платная, стоимость составляет 50 грн.
						p.delivery__text Время доставки согласовывается менеджером во время оформления заказа.
						p.delivery__text Обязательный интервал для доставки — 2 часа. Курьер не поднимается в квартиру или офис.
						p.delivery__text Доставка работает 7 дней в неделю без выходных. Если в течение 15 минут к водителю ни кто не выходит, то он уезжает на остальные плановые доставки. После перезвонит менеджер и оговорит другое возможное время доставки.
					.delivery__item
						.delivery__sub-title Оплата
						p.delivery__text Вы можете воспользоваться функцией On-Line оплаты у нас на сайте, либо рассчитаться наличными с курьером.
				.delivery__card
					.delivery__card-title Доставка по Украине
					.delivery__sub-title Внимание! Отправка аккумуляторов по Украине не осуществляется
					.delivery__item
						.delivery__sub-title Доставка
						p.delivery__text.delivery__text--list Для Вашего удобства мы сотрудничаем с несколькими компаниями:
						ol.delivery__list
							li.delivery__list-item &laquo;Нова Пошта&raquo;, со списком отделений можно ознакомиться на официальном сайте
								a(href='https://novaposhta.ua/') www.novaposhta.ua
							li.delivery__list-item «Інтайм», со списком отделений можно ознакомиться на официальном сайте
								a(href='http://www.intime.ua/') www.intime.ua

					.delivery__item
						.delivery__sub-title Оплата On-Line
						p.delivery__text.delivery__text--list Оплатите заказ не отходя от компьютера:
						ul.delivery__list
							li.delivery__list-item фиксированная стоимость отправки 40 грн;
							li.delivery__list-item быстрая отправка товара, заказы принимаются до 16:00 и отправляются в тот же день;
							li.delivery__list-item удобная форма оплаты заказа прямо на сайте;
					.delivery__item
						.delivery__sub-title Расчет наложенным платежем
						p.delivery__text Отправка наложенным платежем происходит согласно тарифам компании, которая обеспечивает перевозку:
						ul.delivery__list.delivery__list--adv
							li.delivery__list-title Преимущества:
							li.delivery__list-item оплата по факту получения

						ul.delivery__list.delivery__list--adv
							li.delivery__list-title Недостатки:
							li.delivery__list-item высокая стоимость
					.delivery__item
						.delivery__sub-title Оплатите заказ на карточку
						ul.delivery__list
							li.delivery__list-item фиксированная стоимость отправки 40 грн.
							li.delivery__list-item быстрая отправка товара, заказы принимаются до 16:00 и отправляются в тот же день.
					.delivery__item
						.delivery__sub-title Реквизиты для оплаты
						p.delivery__text № Карточки: 5457 0822 3443 2958
							br
							| Получатель: Третьяков Михаил Юрьевич
					.delivery__item
						.delivery__sub-title Предоплата
						p.delivery__text Отправляем товар только по предоплате. Минимальная предоплата 200 грн.
						p.delivery__text При возврате переводим предоплату на карту сразу после поступления товара на склад.

				.delivery__card
					.delivery__card-title Для юридических лиц
					.delivery__item
						.delivery__sub-title Доставка
						p.delivery__text Обмен товаром и документами происходит только в наших магазинах. Доставка по Киеву не осуществляется.
					.delivery__item
						.delivery__sub-title Оплата
						p.delivery__text ООО &laquo;Ойлер&raquo; является плательщиком НДС, и налога на прибыль на общих основаниях
					.delivery__item
						.delivery__sub-title Телефон бухгалтерии
						.delivery__text
							a(href='tel:0442853156') тел. (044) 285-31-56
