---
title: Pages
---
extends layouts/_layout
block content
   .layout
      a.link-main(href='sto.html') 1) STO
      a.link-main(href='oil.html') 2) usluga zamena masla
      a.link-main(href='oil-page.html') 3) zamena masla
      a.link-main(href='delivery.html') 4) delivery
      a.link-main(href='comp_diagnostic.html') 5) computer diagnostic
      a.link-main(href='remont_dvigatelya.html') 6)remont dvigatelya
      a.link-main(href='vkorobke.html') 7)vkorobke.html
      a.link-main(href='pokraska_avto.html') 8)pokraska_avto.html
      a.link-main(href='diagnostic.html') 9)diagnostic.html
      a.link-main(href='predprod_diagnostic.html') 10)predprod_diagnostic.html
      a.link-main(href='shino-montazh.html') 11)shino-montazh.html
      a.link-main(href='razval.html') 12)razval.html
      a.link-main(href='zapravka_cond.html') 13)zapravka_cond.html
      a.link-main(href='zamena_zhidkosti_akpp.html') 14)zamena_zhidkosti_akpp.html
      a.link-main(href='zamena_zhidkosti_mkpp.html') 15)zamena_zhidkosti_mkpp.html