---
title: "Замена жидкости в АКПП"
---
extends layouts/_layout
block content
    .layout.layout--maslo(style="background-image: url('img/bg/maslo_background-red.png')")
        section
            h2.title-h2.title-h2_higher Замена жидкости в АКПП
            .benefit.benefit--reasons.dashed
                .benefit__title Выгода для вас
                .benefit__inner

                    -var benefitText = ['Вы получаете точный подбор', 'Вас обслуживает обученный персонал', 'Вы получаете официальный товар','Вы принимаете участие в процессе', 'Вы получаете гарантию качества', 'Вас обслуживают специалисты с большим опытом'];
                    mixin benefitList(...items)
                        each item, index in items
                            include components/_benefitList
                    +benefitList('arrow', 'magister', 'list', 'people', 'guarantee', 'cars')
        section
            .licnse
                .license__row
                    .license__col.license__col-2
                        p Особо
                          b  рекомендуем выбрать именно  полную замену жидкости АКПП
                          |  тем, кто приобрел не новый автомобиль или еcли
                          |  Вы не сделали замену своевременно на рекомендуемом пробеге.
                    .license__col
                        .strip-line.strip-line_small
                            .strip-line__number
                                strong 60-80 <br>
                                span тыс.км
                            //.strip-line__text интервал замены масла

                            .strip-line__img
                                img(src="img/content/stripe.png")

            section.differ

                .license.center
                    .license__row.flex-row.center
                        .license__col.col-flex.col-flex--inb
                            .letter.letter_3.letter--subscr.dashed
                                .letter__head
                                    .license__block-title СЕРВИСНАЯ ЗАМЕНА МАСЛА
                                    p через сливную пробку

                                .letter__body
                                   .letter__text Возможно слить лишь половину
                                    | содержимого коробки из-за того, что
                                    |    структурно АКПП представляет собой
                                    |    два сообщающихся сосуда, которые
                                    |    при заглушенном двигателе между собой
                                    |    не взаимодействуют. Очевидно, что при частичной замене жидкости вы всего лишь освежаете содержимое коробки, т.е. жидкость становится либо наполовину новой, либо наполовину старой (в зависимости от уровня вашего оптимизма).
                                   .subscribe.subscribe--letter
                                       .subscribe__title Записаться в 1 клик
                                       .subscribe__inner
                                           .subscribe__price 448
                                               span грн.
                                           .subscribe__form
                                               form(action='#')
                                                   .subscribe__field
                                                       +icon('icon-cellphone','subscribe__field-icon')
                                                       input.subscribe__phone(type='tel' placeholder='Ваш телефон' required name)
                                                   .subscribe__field
                                                       button.subscribe__submit-btn(type='submit') Запишите меня
                        .license__col.col-flex.col-flex--inb
                            .img-oil
                                img(src="img/content/oil.jpg" alt="alt")

                                .license__subscr-text
                                    +icon('icon-star','license__subscr-icon')
                                    span Информируем вас о том, что может понадобиться замена фильтра АКПП.
                        .license__col.col-flex.col-flex--inb
                            .letter.letter_3.dashed.letter--border.letter--subscr
                                .letter__head.letter__head-yellow
                                    .license__block-title ПОЛНАЯ ЗАМЕНА МАСЛА
                                    p через профессиональный аппарат
                                .letter__body
                                    //- .license__block-title НАШ АВТОСЕРВИС
                                    .letter__text Осуществляется путем подключения
                                     |   специального гидравлического аппарата
                                     |   для обслуживания АКПП к масляному
                                     |   радиатору охлаждения коробки. Суть процесса в том, что при заведенном
                                     |   двигателе специальная установка
                                     |   полностью заменяет новой жидкостью
                                     |   старую и промывает все элементы в
                                     |   коробке. Соответственно после такого
                                     |       процесса жидкость АКПП полностью
                                     |       свежая.
                                    .subscribe.subscribe--letter
                                        .subscribe__title Записаться в 1 клик
                                        .subscribe__inner
                                            .subscribe__price 558
                                                span грн.
                                            .subscribe__form
                                                form(action='#')
                                                    .subscribe__field
                                                        +icon('icon-cellphone','subscribe__field-icon')
                                                        input.subscribe__phone(type='tel' placeholder='Ваш телефон' required name)
                                                    .subscribe__field
                                                        button.subscribe__submit-btn(type='submit') Запишите меня
            section.manager
                .manager__title
                    i.icon.icon-manager
                    | Правильно подобрать масло для вашего автомобиля поможет эксперт-менеджер.
            section
                .container
                    h4.title_h4 Полная или неполная замена масла в АКПП: о чем речь?
                    .article.article_silver
                        p Обычная сервисная замена в масла АКПП (через сливную пробку), которую Вам могут сделать на любой станции, не является эффективной.
                        |    Это и есть причина появления термина — неполная или частичная замена масла.
                        p.is-hidden  название, потому что переключение происходит механически (вручную).название, потому что переключение происходит механически (вручную).
                        button.more-btn.more-btn--blue.js-more-text Подробнее

            section.testimonials-container
                .testimonials
                    h2.title-h3.testimonials__title.left Отзывы
                    .testimonials__inner
                        .testimonials__item
                            .testimonials__item-user Никита, Kia Cerato 2.0 АКПП,
                                span.testimonials__item-date 5 января 2014
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-1.png')
                                .testimonials__item-feedback
                                    p.testimonials__item-text Заехал к ребятам в воскресение на замену масла в АКПП (Киа Черато 2.0, 2008 года, 50 тык пробега) путем врезки в систему охлаждения. Открыли коробку, поменяли фильтр (сам покупал), закрыли, прогнали по коробке масло (тоже сам покупал). Залили наверное в коробку на ЛУАЗе (а именно там мой Чератик собирался) откровенное г*вно - потому как слили почти шлак, а это за 50 тык не злостной езды. Очень всем советую менять масло в АКПП на 50 тык, особенно если Ваша машина нашей сборки. Через пару дней ребята попросили заехать — посмотреть нигде ли течет. Все супер, коробка стала работать гораздо плавнее, кикдаун более отзывчивый. Спасибо ребятам за хорошую работу и отдельное мастеру Вите (и его музычке) и Мише. 100% по маслу АКПП буду ездить к ним, с остальным на следующем ТО попробую — отпишусь =))
                        .testimonials__item.testimonials__item--response
                            .testimonials__item-user Ответ автосервиса
                                span.testimonials__item-date
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-2.png')
                                .testimonials__item-feedback.testimonials__item-feedback--response
                                    p.testimonials__item-text Большое спасибо за хороший отзыв, очень рады новым постоянные клиентам
                        .testimonials__item
                            .testimonials__item-user Саша, Subaru Forester 2.5T AT,
                                span.testimonials__item-date 17 декабря 2013
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-1.png')
                                .testimonials__item-feedback
                                    p.testimonials__item-text Делал частичные работы ТО150: Замена АТФ с помощью установки. Промыли коробку новым маслом. Удобно, что все расходники есть на складе и можно в любой момент достать. Попутно заменил аккумулятор. Мне понравилось. Как менеджер, так и мастер в ремзоне были на высоте.
                        .testimonials__item.testimonials__item--response
                            .testimonials__item-user Ответ автосервиса
                                span.testimonials__item-date
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-2.png')
                                .testimonials__item-feedback.testimonials__item-feedback--response
                                    p.testimonials__item-text Спасибо большое за положительный отзыв, ждём Вас снова у нас.
                        .testimonials__item
                            .testimonials__item-user Юрий, Mitsubishi Galant E33,
                                span.testimonials__item-date 25 ноября 2013
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-1.png')
                                .testimonials__item-feedback
                                    p.testimonials__item-text Менял масло в коробке автомат, стойки стабилизатора, втулки стабилизатора, менеджер Денис — быстро, четко все рассказал, подсказал по запчастям, сколько масла в коробку нужно и т.д. записал в тот же день на СТО, оговорили сроки 3-4 часа, приехал забирать машину через 3 часа, все качественно, быстро, красиво
                        .testimonials__item.testimonials__item--response
                            .testimonials__item-user Ответ автосервиса
                                span.testimonials__item-date
                            .testimonials__item-row
                                .testimonials__item-photo
                                    img(src='img/testimonial-2.png')
                                .testimonials__item-feedback.testimonials__item-feedback--response
                                    p.testimonials__item-text Большое спасибо за хороший отзыв, приятно когда отмечают профессионализм наших сотрудников. Теперь на нашем сайте вы можете оставить отзыв о каждом лично в разделе «Обратная связь».
            h2.title_h2 Бесплатная консультация по подбору масла в  АКПП:
            .request
               .request__inner
                  .request__col
                     .comp-diag__subscr-label.request__label БЫСТРЫЙ ЗАПРОС
                  .request__col
                     .comp-diag__subscr-info.request__info
                        | Запишитесь на подбор масла в АКПП,&nbsp;
                        br
                        a.comp-diag__subscr-info--b(href='tel:0442382492') позвонив по телефону (044) 238-24-92
                     .comp-diag__subscr-info.request__info
                        | Или оставьте свои контакты, и мы свяжемся
                        br
                        | с Вами в течение&nbsp;
                        span.comp-diag__subscr-info--b 5 мин. в рабочее время
                  .request__col
                     .subscribe
                        .subscribe__title Записаться в 1 клик
                        .subscribe__inner
                           .subscribe__form
                              form(action='#')
                                 .subscribe__field
                                    +icon('icon-cellphone','subscribe__field-icon')
                                    input.subscribe__phone(type='tel' placeholder='Ваш телефон' required name)
                                 .subscribe__field
                                    button.subscribe__submit-btn(type='submit') Запишите меня
