section.address#address
   h3.address__title.title-h3 Адреса наших автосервисов
   .address__street#lukjanovka
      .address__street-title
         +icon('icon-marker','address__title-mark')
         | Oiler Лукьяновка,&nbsp;
         span ул. Нагорная, 47
      .address__street-inner
         .address__street-label Карта проезда:
         .address__map
            .address__map-label
               a.address__map-phone(href='tel:0443538179') (044) 353-81-79
               .address__map-subtitle Мы работаем
               .address__map-work Пн-Сб: с 9:00 до 19:00
            .address__map-holder
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.350437472534!2d30.483649815732164!3d50.47181947947823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce7589650e45%3A0xae8f8de6ccb76e68!2z0LLRg9C70LjRhtGPINCd0LDQs9GW0YDQvdCwLCA0Nywg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1473243915051', width='960', height='300', frameborder='0', allowfullscreen='')
      .address__video-wrapper
         .address__video-label Видео проезда:
         .address__video-inner
            .address__video
               .address__video-title Проезд с ул. Нижний Вал
               iframe(width='300', height='210', src='https://www.youtube.com/embed/EJTvNSnkXlY', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Черновола
               iframe(width='300', height='210', src='https://www.youtube.com/embed/y1NEuEQCZ6k', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Фрунзе&nbsp;
                  span (через Подольский спуск)
               iframe(width='300', height='210', src='https://www.youtube.com/embed/76hv_iAImA0', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Нижнеюрковская
               iframe(width='300', height='210', src='https://www.youtube.com/embed/a0VudTMciZQ', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Мельникова
               iframe(width='300', height='210', src='https://www.youtube.com/embed/gB-jEs0eO9E', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд от м. Лукьяновская
               iframe(width='300', height='210', src='https://www.youtube.com/embed/G7Xil4Z3_YI', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Сечевых Стрельцов 
               iframe(width='300', height='210', src='https://www.youtube.com/embed/V_k36TjlXnc', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Проезд с ул. Набережно - Луговая
               iframe(width='300', height='210', src='https://www.youtube.com/embed/BPGzsNzUTnU', frameborder='0', allowfullscreen='')

   .address__street#pechersk
      .address__street-title
         +icon('icon-marker','address__title-mark')
         | Oiler Печерск,&nbsp;
         span ул. Киквидзе, 43
      .address__street-inner
         .address__street-label Карта проезда:
         .address__map
            .address__map-label
               a.address__map-phone(href='tel:0442382492') (044) 238-24-92
               .address__map-subtitle Мы работаем
               .address__map-subtitle Без выходных
               .address__map-work Пн-Пт: с 8:00 до 21:00
               .address__map-work Сб-Вс: с 8:00 до 19:00
            .address__map-holder
               iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4276.920911577318!2d30.55655456725702!3d50.402488499288246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf5938ffd67d%3A0x92b3c357237742e0!2z0LLRg9C7LiDQmtGW0LrQstGW0LTQt9C1LCA0Mywg0JrQuNGX0LI!5e0!3m2!1sru!2sua!4v1437388007937', width='960', height='300', frameborder='0', style='border:0; pointer-events: none;', allowfullscreen='')
      .address__video-wrapper
         .address__video-label Видео проезда:
         .address__video-inner
            .address__video
               .address__video-title Заезд с ул. Сапёрно-слободская
               iframe(width='300', height='210', src='//www.youtube.com/embed/Kiau7leTsv0?list=PL5_p_jsLOe1IHv4nNtq07fWiYoA8_auON', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Заезд с бульв. Леси Украинки
               iframe(width='300', height='210', src='//www.youtube.com/embed/XUr0I-Ppvts?list=PL5_p_jsLOe1IHv4nNtq07fWiYoA8_auON', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Заезд с ул. Надднепрянское шоссе
               iframe(width='300', height='210', src='//www.youtube.com/embed/WyeGCd-JUgQ?list=PL5_p_jsLOe1IHv4nNtq07fWiYoA8_auON', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Заезд с Южного моста
               iframe(width='300', height='210', src='//www.youtube.com/embed/u31D4GHnWwU?list=PL5_p_jsLOe1IHv4nNtq07fWiYoA8_auON', frameborder='0', allowfullscreen='')
            .address__video
               .address__video-title Заезд с бульвара Дружбы Народов
               iframe(width='300', height='210', src='//www.youtube.com/embed/9ykG7BvLKDw?list=PL5_p_jsLOe1IHv4nNtq07fWiYoA8_auON', frameborder='0', allowfullscreen='')
