include _mixins
doctype html
html
    head
        include _head

    body(class=bodyClass)
        //BEGIN out
        .out(class=outClass)
            block header
            block content
        //END out

        //LOAD SCRIPTS

        block scripts

            script(type="text/template" data-typeID="json") {"Бампер задний":"3658","Бампер передний":"3658","Дверь передняя левая (водительская)":"3658","Дверь задняя левая":"3588", "Зеркало заднего вида правое": "1254"}
            script(type="text/template" id="tmpl") <% for ( var key in items ) { %><div class="datail__row datail__item js-datail-item"><div class="datail__box"><span class="datail__cell"> <%=key %> </span><span class="datail__cell datail__price js-price"> <%=items[key] %></span></div></div><% } %>
            script(type="text/javascript" src="js/painting.js")
